.hero.is-success {
	background: #F2F6FA;
}

.hero .nav, .hero.is-success .nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#avatar {
	width: 170px;
}

.userid-field {
	flex-grow: 3;
}

table.details {
	width: 100%;
}

table.details tr td {
	width: 50%;
	word-break: break-all;
}

table.details tr td:first-child {
	text-align: right;
	font-weight: bold;
}

#bio {
	margin-top: -10px;
	margin-bottom: 20px;
	text-align: fill;
	font-size: small;
	max-width: 100%;
	word-break: break-word;
}

#points {
	font-weight: bold;
}

#pronoun {
	font-size: 11px;
	opacity: 0.7;
}

.box {
	margin-top: 5rem;
}

.avatar {
	margin-top: -70px;
	padding-bottom: 20px;
}

.avatar img {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px
		rgba(10, 10, 10, .1);
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px
		rgba(10, 10, 10, .1);
}

input {
	font-weight: 300;
}

p {
	font-weight: 700;
}

p.subtitle {
	padding-top: 1rem;
}

.login-hr {
	border-bottom: 1px solid black;
}

.has-text-black {
	color: black;
}

.field {
	padding-bottom: 10px;
}

.fa {
	margin-left: 5px;
}